.parra{
    width: 90%;
    margin: auto;
}
.seccion{
    background-color: rgb(225, 248, 251);
    border: 2px #5c5c5c;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.parra p{
    font-size: 1.2em;
}

.participar{
    width: 25%;
    margin: auto;
    margin-top: 15px;
}
.sh{

    -webkit-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.62);
    box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.62);
    border-radius: 4px;
    

}


/*   list.commnets ******************************************/

.agregar_comentario{
    width: 90%;

}
.msg{
    padding: 15px;
    font-size: 1.25em;
}
.card-header{
    background-color: rgb(233, 242, 251);
}

@media (max-widht:750px){
    .comment{
        width:100%;
    }
}