body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
   
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.img_portada{
    width: 100%;
}

.volanta{
    height: 6rem;
    width: 70%;   
    margin: auto;
    margin-top: 2rem;
    padding-top:2rem;    
}
.separador{
    width: 50%;
    height: 10px;
    background-color: rgb(251, 255, 0);
    margin: auto;
    margin-top: 1em;
}

@media (max-width:360px){
    .volanta{
    margin-top: 1rem;
    padding-top:1rem
    }
    .volanta-text{
      font-size: 2em;
  }
}