html {
  overflow-x: hidden; 
}

body{
      padding-top:1.2rem;	
      color: #3d3d3d;	
}

a{
  text-decoration:none !important;
 }


.centrar{
	text-align: center;
}

.jumbotron {
	background: rgba(85,219,159,1);
	background: -moz-linear-gradient(top, rgba(85,219,159,1) 0%, rgba(16,109,224,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,219,159,1)), color-stop(100%, rgba(16,109,224,1)));
	background: -webkit-linear-gradient(top, rgba(85,219,159,1) 0%, rgba(16,109,224,1) 100%);
	background: -o-linear-gradient(top, rgba(85,219,159,1) 0%, rgba(16,109,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(85,219,159,1) 0%, rgba(16,109,224,1) 100%);
	background: linear-gradient(to bottom, rgba(85,219,159,1) 0%, rgba(16,109,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55db9f', endColorstr='#106de0', GradientType=0 );
	color: #ffffff;
	border-radius: 0rem;

}


.bg{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125)!important;
    border-radius: 0rem;
}

.btn-link {
    font-weight: 400;
    color: #b837bf;
    background-color: transparent;
    text-decoration:none !important;
}

.btn-link:hover {
    color: #b837bf;
    font-weight: 700;
}

.progress{
	margin-top: 0.1rem;
	margin-bottom: 1rem;
}

.bg-warning {
    background-color: #d40078!important;
}

.bg-success{
    background-color: #d40078!important;
}
.bg-info{
    background-color: #d40078!important;
}
.bg-danger {
    background-color: #d40078!important;
}


.prog p{
	    margin-bottom: 0.2rem;
	    font-size: 0.7rem;
}